@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');


* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0000001A;
    padding: 2rem 5rem;
    justify-items: center;
}
.logo {
    font-family: 'lobster';
    font-weight: 400;
    font-size: 24px;
}

.logo span {
    color: red;
}

.links {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
}

.links a {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}
.icons {
    display: flex;
    gap: 2rem;
    height: 1.5rem;
}

main {
    margin: 5rem;
    margin-bottom: 0;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    margin-top: 9rem;
}

.l-chef {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 1rem;
    padding: 0 1rem;
    margin-bottom: 5rem;
}
.l-chef img {
    width: 100%;
    margin-top: 5rem;
}
.contact-us h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -4%;
    margin-bottom: 7rem;
    margin-top: -3rem;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-family: Inter;
}
.form {
    display: flex;
    flex-direction: column;
}

form div:nth-child(5) {
    grid-column: 1/3;
}

label {
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 8%;
    text-transform: uppercase;
    color: #00000099;
    margin-bottom: 1rem;
}

input, select, textarea {
    border: 2px solid #0000001A;
    padding: 1rem;
    border-radius: 1rem;
}


select {
    padding-right: 35px; /* Create space for the arrow */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center; /* This moves the arrow left */
    background-size: 16px;
    appearance: none;
}
input::placeholder, textarea::placeholder,select {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -2%;
    color: #00000099;
}
textarea {
    resize: none;
    height: 10rem;
}
button {
    background: #000000;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: -2%;
    color: #FFFFFF;
    width: 10rem;
    padding: 1.3rem 0;
    border-radius: 1rem;
}




.forms {
    margin: 5rem auto;
    padding: 8rem 5rem;
    background: #E9F9FF; 
    border-radius: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
}

.forms h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
    margin-bottom: 2rem;
}

.forms p {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
    margin-bottom: 3rem;
}

.img-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
}


.img-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
}


.forms form {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 12px;
}


.forms form input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}


.forms form button {
    background: #000;
    color: #fff;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.delicious {
    margin: 10rem 0;
    margin-bottom: 5rem;
}

.top {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    align-items: center;
}

.top h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
    text-align: center;
}


.del-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.images {
    position: relative;
}



.images img:last-child {
    position: absolute;
    right: 4rem;
    top: 2rem;
    background: #FFFFFF;
    padding: 0.8rem;
    border-radius: 50%;
}

.grid {
    margin-bottom: 3rem;
}
.idk {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -4%;
    margin-top: 1rem;
}
.items {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.item {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.item p {
    white-space: nowrap;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
    color: #00000099;
}

footer {
    margin: 0 5rem;
}
.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1.5px solid #0000001A
}
.up h3 {
    font-family: Lobster;
font-weight: 400;
font-size: 24px;
}

.up span {
    color: red;
}

.l-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.l-up p {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
}

.r-up {
    display: flex;
    gap: 1.5rem;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: -2%;
}
.r-up a {
    text-decoration: none;
}

.down {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.down p {
    font-family: Eudoxus Sans;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -2%;
}

.b-icons {
    display: flex;
    gap: 1rem;
}

