
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0000001A;
    padding: 2rem 5rem;
    justify-items: center;
}
.logo {
    font-family: 'lobster';
    font-weight: 400;
    font-size: 24px;
}

.logo span {
    color: red;
}

.links {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
}

.links a {
    text-decoration: none;
    color: #000000;
}
a:visited {
    color: #000000;
}
.icons {
    display: flex;
    gap: 2rem;
    height: 1.5rem;
}

main {
    margin: 5rem;
}
.rectangle {
    display: flex;
}

.left {
    padding: 2rem 3rem;
    background: #E7FAFE;
    border-radius: 4rem 0rem 0rem 4rem;
}

.hot {
    display: inline-flex;
    background-color: white;
    gap: 1rem;
    border-radius: 2rem;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
   align-items: center;
   padding: 0.8rem 1rem;
   margin-bottom: 3rem;
}

.left h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -4%;
    margin-bottom: 2rem;
}

.lorem {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #00000099;
    margin-bottom: 2rem;
}


.section {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    position: relative;
}
.section div {
    display: flex;
    background: #0000000D;
    padding: 0.8rem 1.3rem;
    border-radius: 3rem;
    gap: 1rem;
    align-items: center;
}
.time {
    white-space: nowrap;
}
.section p {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: #00000099;
    letter-spacing: -2%;
}

.prof {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prof div {
    display: flex;
}

.profile {
    gap: 1.5rem;
}
.profile p {
    font-family: Inter;
    font-weight: 700;
}
.profile span {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
    color: #00000099;
    line-height: 2rem;
}

.view {
    background: #000000;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    gap: 1rem;
    color: #FFFFFF;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
}

.rec-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right img {
    height: 100%;
    border-radius: 0 4rem 4rem 0;
}

.categories-container {
    margin: 5rem 0;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.head h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
}

.head p {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -2%;
    background: #E7FAFE;
    border-radius: 1rem;
    padding: 1rem;
    align-content: center;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.categories div {
    display: flex;
    flex-direction: column;
    gap: 3.3rem;
    padding: 1.6rem 3rem;
    border-radius: 2.3rem;
}

.categories p {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -2%;
    text-align: center;
}

.breakfast {
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}
.vegan {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}
.meat {
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}
.dessert {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}
.lunch {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.chocolate {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}


.recipes-container h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.text {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #00000099;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.recipe {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    padding: 1.8rem;
    border-radius: 2rem;
}

.image {
    position: relative;
}

.image img {
    border-radius: 1rem;
}

.fav-btn img {
    position: absolute;
    background: #FFFFFF;
    top: 1rem;
    right: 1rem;
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.content {
    padding: 0 0.5rem;
}
.content h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -4%;
    margin-top: 1rem;
}

.items {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.item {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.item p {
    white-space: nowrap;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
    color: #00000099;
}


.card {
    position: relative;
}
.card img {
    width: 100%;
}

.card-div {
    position: absolute;
    text-align: center;
    margin-left: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
}

.card-div p {
    font-family: Lobster;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;

}

.card-div p:last-child {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
    color: #FFFFFF99;
}

.chef {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.c-left h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
    margin-top: 2rem;
}
.c-left p {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
    margin-top: 2rem;
}

.c-left button {
    margin-top: 4rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background: #000000;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.c-right {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 1rem;
    position: relative;
    padding: 2rem;
}

.ab-1, .ab-2, .ab-3, .ab-4 {
    position: absolute;
}

.ab-1 {
    bottom: 9rem;
    left: 0.5rem;
}
.ab-2 {
    top: 4.5rem;
    left: 4rem;
}
.ab-3{
    top: 6rem;
    right: 5rem;
}
.ab-4 {
    height: 4rem;
    top: 15rem;
    right: 2rem;
}

.insta {
    margin: 0 -5rem;
    padding: 0 5rem;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.insta h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
    text-align: center;
    margin-top: 15rem;
}


.i-text {
    font-family: Inter;
    font-weight: 400;;
    line-height: 28px;
    text-align: center;
    color: #00000099;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.1rem;
    padding-bottom: 6rem;
    
}

.post {
    background: white;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
    width: 105%;
}
.p-head {
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    gap: 1rem;
}

.user-info p:first-child {
    font-weight: 600;
    font-size: 13px;
}
.user-info p:last-child {
font-weight: 400;
font-size: 11px;
}

.actions, .likes, .caption, .date {
    margin: 0 0.8rem;
}

.p-img {
    position: relative;
    margin-bottom: 0.7rem;
}

.p-img img {
    width: 100%;
}

.p-img p {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    background: #121212B2;
    color: #F9F9F9;
    padding: 0.5rem 0.8rem;
    border-radius: 1.2rem;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
    font-weight: 400;
    font-size: 9.28px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.actions p {
    font-size: 1.2rem;
    margin-right: 3rem;
    color: #00000026;
}
.actions span {
    color: #3897F0;
}

.left-icons {
    display: flex;
    gap: 0.5rem;
    height: 1.2rem;
}

.likes {
    display: flex;
    gap: 0.5rem;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0.5rem;
}
.likes span {
    font-weight: 600;
    font-size: 13px;
}
.caption {
    font-size: 13px;
}

.caption span {
    font-weight: 600;
    font-size: 13px;
}


.date {
    color: #00000066;
    margin: 1rem 0.8rem;
    font-weight: 400;
    font-size: 11px;
}

.ig {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #000000;
    padding: 1.3rem 2rem;
    border-radius: 1rem;
    margin: 0 auto;
}

.ig p {
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;

}




.delicious {
    margin: 10rem 0;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: center;
}

.top h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
}

.top p {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
}

.del-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.images {
    position: relative;
}



.images img:last-child {
    position: absolute;
    right: 4rem;
    top: 2rem;
    background: #FFFFFF;
    padding: 0.8rem;
    border-radius: 50%;
}

.grid {
    margin-bottom: 3rem;
}
.idk {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -4%;
    margin-top: 1rem;
}






.form {
    margin: 40px auto;
    padding: 8rem 5rem;
    background: #E9F9FF; 
    border-radius: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.form h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -4%;
    margin-bottom: 2rem;
}

.form p {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
    margin-bottom: 3rem;
}

.img-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
}


.img-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 260px;
}


.form form {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 12px;
}


.form form input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}


.form form button {
    background: #000;
    color: #fff;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}



footer {
    margin: 2rem 5rem;
    margin-top: 8rem;
}
.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1.5px solid #0000001A
}
.up h3 {
    font-family: Lobster;
    font-weight: 400;
    font-size: 24px;
}

.up span {
    color: red;
}

.l-up {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.l-up p {
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    color: #00000099;
}

.r-up {
    display: flex;
    gap: 1.5rem;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: -2%;
}
.r-up a {
    text-decoration: none;
}

.down {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.down p {
    font-family: Eudoxus Sans;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -2%;
}

.b-icons {
    display: flex;
    gap: 1rem;
}


@media (max-width: 1024px) {
    nav {
        padding: 2rem 3rem;
    }
    
    .links {
        gap: 0.75rem;
        font-size: 15px;
    }
    
    .icons {
        gap: 1.5rem;
    }


    .rectangle {
        flex-direction: column;
        position: relative;
    }
    
    .left {
        border-radius: 4rem 4rem 0 0;
        padding: 2rem 2rem;
    }
    
    .left h2 {
        font-size: 48px;
        text-align: center;
    }
    
    .lorem {
        text-align: center;
        font-size: 15px;
        line-height: 26px;
    }
    
    .section {
        justify-content: center;
        gap: 1rem;
    }
    
    .prof {
        flex-direction: column;
        gap: 2rem;
    }
    
    .rec-logo {
        display: none;
    }
    
    .right img {
       display: none;
    }
    
    .hot {
        margin-bottom: 2rem;
    }
    
    .section {
        margin-bottom: 2rem;
    }

    .categories {
        gap: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .categories div {
        padding: 1.5rem 1.5rem;
        border-radius: 2rem;
    }
    .categories div:first-child, .categories div:nth-child(2) {
        margin-top: 2rem;
    }
    .categories img {
        height: 10rem;
    }
    
  
    .head {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    
    .recipes-container h2 {
        font-size: 40px;
        margin-top: 8rem;
    }

    .recipes-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .recipe {
        padding: 1.5rem;
    }

    .content h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .items {
        gap: 1.5rem;
    }

    .card-div {
        margin-left: 1.5rem;
        top: 1.5rem;
    }

    .card-div p {
        font-size: 20px;
    }

    .chef {
        margin-top: 8rem;
        flex-direction: column;
        gap: 3rem;
    }

    .c-left {
        text-align: center;
    }


    .c-left button {
        margin-top: 3rem;
    }

    .c-right {
        display: none;
    }

    .insta {
        margin: 0 -2rem;
        padding: 0 2rem;
        padding-bottom: 3rem;
    }

    .insta h3 {
        font-size: 40px;
        margin-top: 12rem;
    }

    .i-text {
        font-size: 14px;
        line-height: 24px;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }

    .posts {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .post {
        width: 100%;
    }

    .delicious {
        margin: 8rem 0;
    }

    .top {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        margin-bottom: 4rem;
    }

    .top h3 {
        font-size: 40px;
    }

    .top h3 br {
        display: none;
    }

    .top p {
        font-size: 14px;
        line-height: 24px;
    }

    .top p br {
        display: none;
    }

    .del-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .images img:last-child {
        right: 2rem;
        top: 1.5rem;
        padding: 0.7rem;
    }

    .grid {
        margin-bottom: 2rem;
    }

    .idk {
        font-size: 16px;
        line-height: 24px;
    }

    .items {
        display: flex;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .item p {
        font-size: 12px;
    }

    footer {
        margin: 2rem 3rem;
        margin-top: 6rem;
    }

    .up {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 2.5rem 0;
    }

    .l-up {
        gap: 0.8rem;
    }

    .l-up p {
        font-size: 14px;
        line-height: 24px;
    }

    .r-up {
        gap: 2rem;
        font-size: 14px;
    }

    .down {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0;
        text-align: center;
    }

    .down p {
        font-size: 16px;
    }
    


}



